<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="format-detection" content="telephone=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="white"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>Index</title>


    <!-- head 中 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.2/style/weui.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.0/css/jquery-weui.min.css">
    <link rel="stylesheet" href="/Public/index/css/index.css">
    <script src="/Public/index/js/index.js"></script>
    <script src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js" type="text/javascript" charset="utf-8"></script>
    <script>

        wx.config({
            debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
            appId: '{$jssdk_arr.appId}', // 必填，公众号的唯一标识
            timestamp: '{$jssdk_arr.timestamp}', // 必填，生成签名的时间戳
            nonceStr: '{$jssdk_arr.nonceStr}', // 必填，生成签名的随机串
            signature: '{$jssdk_arr.signature}',// 必填，签名
            jsApiList: [
                'onMenuShareQQ',
                'onMenuShareWeibo',
                'onMenuShareTimeline',
                'onMenuShareAppMessage'
            ] // 必填，需要使用的JS接口列表
        });

    </script>
    <style>
        .weui-btn_warn {
            /*display: none;*/
            margin-left: 10px;
            line-height: 28px;
            color: #ffffff;
            white-space: nowrap;
            background-color: #ED6C00;
            padding: 0 1.5em 0 1em;
        }

        .weui-icon-search {
            color: #ffffff;
        }

        .weui-search-bar__input {
            text-align: center;
        }

    </style>
</head>
<body>

<div class="swiper-container" style="width: 100%; height: 180px;" data-space-between='10'
     data-pagination='.swiper-pagination' data-autoplay="1000">
    <div class="swiper-wrapper">
        <div class="swiper-slide"><img style="height: 180px;width: 100%;" src="/Public/index/images/index-banner.jpg"
                                       alt=""></div>
    </div>
</div>

<div id="app">

    <blog-post>

    </blog-post>

    <div class="weui-search-bar weui-search-bar_focusing" id="searchBar"
         style="width:100%;position:static;z-index: 9999;">
        <form class="weui-search-bar__form">
            <div class="weui-search-bar__box">
                <!--<i class="weui-icon-search"></i>-->
                <input type="search" class="weui-search-bar__input" id="searchInput" placeholder="出发地" required="">
                <a href="javascript:" class="" id="searchClear"></a>
            </div>
            <label class="weui-search-bar__label" id="searchText">
                <i class="weui-icon-search"></i>
                <span>出发地</span>
            </label>
        </form>
        <a class="weui-btn weui-btn_mini weui-btn_warn"><i class="weui-icon-search"></i></a>
        <form class="weui-search-bar__form" style="margin-left:10px;">
            <div class="weui-search-bar__box">
                <!--<i class="weui-icon-search"></i>-->
                <input type="search" class="weui-search-bar__input" id="searchInput" placeholder="目的地" required="">
                <a href="javascript:" class="weui-icon-clear" id="searchClear"></a>
            </div>
            <label class="weui-search-bar__label" id="searchText">
                <i class="weui-icon-search"></i>
                <span>目的地</span>
            </label>
        </form>

    </div>

    <div id="place" style="width: 100%; height: 46px;display: none;"></div>

    <div class="weui-cells" style="margin-top: 0;">
        <template v-for="items in lines">
            <div v-for="line in items.lines" class="weui-cell">
                <div class="weui-cell__bd">
                    <div class="weui-flex">
                        <div>
                            <div class="placeholder">
                                <i v-if="line.vip == 1" class="weui-icon-success"></i>
                            </div>
                        </div>
                        <div class="weui-flex__item item-des">{{ line.desa }}</div>
                        <div class="item-uprice">
                            <div style="color: #ED6C00;font-size: 12px;">&lt;-&gt;</div>
                            <div style="font-size: 10px;">{{ line.uprice }}元/人</div>

                        </div>
                        <div class="weui-flex__item item-des">{{ line.desb }}</div>
                        <div>
                            <div class="placeholder">&nbsp;</div>
                        </div>
                    </div>
                </div>
            </div>

        </template>

    </div>

</div>

{include file="Index/Public/nav"}

</body>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/jquery-weui/1.2.0/js/jquery-weui.min.js"></script>
<script src="https://cdn.bootcss.com/jquery-weui/1.2.0/js/swiper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<!--<script src="https://cdn.bootcss.com/axios/0.18.0/axios.js"></script>-->
<script src="https://cdn.bootcss.com/axios/0.18.0/axios.js"></script>

<script>

    $(function () {
//获取要定位元素距离浏览器顶部的距离
        var navH = $("#searchBar").offset().top;

//滚动条事件
        $(window).scroll(function () {
//获取滚动条的滑动距离
            var scroH = $(this).scrollTop();
//滚动条的滑动距离大于等于定位元素距离浏览器顶部的距离，就固定，反之就不固定
            if (scroH >= navH) {
                $("#searchBar").css({"position": "fixed", "bottom": "50px"});
                $('#place').show();
            } else if (scroH < navH) {
                $("#searchBar").css({"position": "static"});
                $('#place').hide();
            }
        })
    });

    Vue.component('blog-post', {
        props: ['post'],
        template: `
    <div class="blog-post">
      <h3>{{ post.title }}</h3>
      <div v-html="post.content"></div>
    </div>
  `
    })

    //Vue.use(wx);
    var app = new Vue({
        el: '#app',
        data: {
            wx: null,
            lat: '',
            lon: '',
            lines: [{}]
        },
        beforeCreate: function () {
            $.showLoading('定位中');

        },
        created: function () {
            var that = this;

            axios.post('https://pcds.ybshenbian.com/v1/pointlst', {
                page: '1',
                mypoint: '104.629239,28.770671'
            }).then(function (response) {
                console.log(response);
                that.lines = response.data.data;
                $.hideLoading();
            }.bind(this)).catch(function (error) {
                console.log(error);
                $.hideLoading();
            }.bind(this));

            // wx.ready(function () {
            //
            //     wx.getLocation({
            //         type: 'wgs84', // 默认为wgs84的gps坐标，如果要返回直接给openLocation用的火星坐标，可传入'gcj02'
            //         success: function (res) {
            //             //alert(JSON.stringify(res));
            //             that.lat = res.latitude; // 纬度，浮点数，范围为90 ~ -90
            //             that.lon = res.longitude; // 经度，浮点数，范围为180 ~ -180。
            //             //alert(that.lon + ',' + that.lat);
            //             axios.post('https://pcds.ybshenbian.com/v1/pointlst', {
            //                 page: '1',
            //                 mypoint: that.lon + ',' + that.lat
            //             }).then(function (response) {
            //                 console.log(response);
            //                 that.lines = response.data.data;
            //                 $.hideLoading();
            //             }.bind(this)).catch(function (error) {
            //                 console.log(error);
            //                 $.hideLoading();
            //             }.bind(this));
            //         }
            //     });
            //
            //
            // });


        }
    });

</script>
</html>

